* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    /* fonts  */
    --font-heading: "Fraunces", 'Times New Roman', Times, serif;
    --font-body: "Monserrat", Arial, Helvetica, sans-serif;   
    --font-wt-heading: 700;
    --font-wt-body: 500;
    --font-wt-button: 700;
 
    /* colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --btn-hover-color: hsl(158, 36%, 27%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
    font-weight: var(--font-wt-body);
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
}

.screenreader-only {
    width: 0;
    height: 0;
    overflow: hidden;
}

h2 {
    font-family: var(--font-heading);
    font-weight: var(--font-wt-heading);
    font-size: 1.9rem;
    color: var(--very-dark-blue);
}

p {
    font-size: 0.875rem;
}

.card {
    display: grid;
    width: 90%;
    margin: 0 auto;    
    border-radius: 0.5em;
    overflow: hidden;
    background-color: var(--white);   
}

.product-description {
    display: grid;
    gap: 1em;
    padding: 1.5em;
}

.category {
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.description {
    margin-bottom: 0.5em;
    font-size: 1rem;
    line-height: 1.5;  
}

.sale-price {
    font-family: var(--font-heading);
    font-weight: var(--font-wt-heading);
    font-size: 1.9rem;
    color: var(--dark-cyan);
}

.btn-add-to-cart {
    cursor: pointer;
    height: 3.5em;
    max-width: 19em;
    padding-left: 1em;
    font-family: inherit;
    font-weight: var(--font-wt-button);
    font-size: 1rem;
    border: none;
    border-radius: 0.7em;
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: top 50% left 30%;
    background-color: var(--dark-cyan);
    color: var(--white);    
}

.btn-add-to-cart:hover,
.btn-add-to-cart:focus {
    background-color: var(--btn-hover-color);
}

.attribution {
    margin-top: 2em;
    font-size: 0.7rem;
    text-align: center; 
    color: var(--very-dark-blue);
}

.attribution a {
    color: hsl(158, 36%, 27%); 
}

@media (min-width: 650px) {
    .card {
        max-width: 44em;                
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .product-img {
        height: 100%;
    }

    .product-description {       
        align-self: center;
    }

    .btn-add-to-cart {
        background-position: top 50% left 25%;
    }
}